<div class="cart">
    <div class="sweater-to-sell">
        <div class="picture-to-sell">
            <img src="/<%= @base_images[0]%>">
            <img src="/<%= @pocket_images[0]%>"
            >

        </div>        
        <div class="bill">
            <strong><p class="type-product"> Sudadera kpiqua 101</p></strong>
            <div class="info-product">
                <p> - Base: <%= @base_info[0].color%></p>
                <p> - Bolsillo: <%= @pocket_info[0].color%></p>
                <% if @base_info[0].hood == true %>  
                       <p> - Capucha: Sí</p>
                    <% else %>
                        <p> - Capucha: No</p>
                <% end %>
                 <% if @base_info[0].neck == true %>  
                       <p> - Cuello: Old School</p>
                    <% else %>
                        <p> - Cuello: normal</p>
                <% end %>
                <p> - Talla: <%= @sweaters[0].size%></p>
            </div>
            <div class="info-price">
               <center> <p> <%= @sweaters[0].price%> euros </p> </center>
            </div>

        </div>
    </div>
    <div class="client-form">
      <form action="/sold_to_user" method="post">
        <center><input class="client-inputs" type="text" name="name" placeholder="Nombre"></center>
        <center><input class="client-inputs" type="email" name="email" placeholder="E-mail"></center> 
        <center><input class="client-inputs direction" type="text-area" name="direction" placeholder="Dirección"></center> 
        <input name="sweater_id" value="<%= @sweaters[0].id %>" type="hidden">
        <center><input class="price-button client-inputs-submit" type="submit" name="submit-size" value="Realizar compra"></center>
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
       </form>
    </div>


</div>